# dependencies
/node_modules/
/.expo
.expo-shared

# IDEs and editors
.idea/
.vscode/
/*.suo
/*.ntvs*
/*.njsproj
/*.sln
/*.sw?

# OS files
.DS_Store
Thumbs.db

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
/android/app/build/
/android/app/debug/
/android/app/release/
/ios/Pods/
/ios/build/

# Android specific
/android/.gradle
/android/app/debug.keystore
/android/local.properties
/android/.idea
/android/.settings
/android/*.iml

# Gradle specific
.gradle
gradle-app.setting
gradle.properties

# iOS specific
ios/Pods/
ios/build/
*.xcworkspace
*.xcodeproj/project.xcworkspace/
*.xcuserdata/
*.xcconfig

# Sensitive data
.env

# Temporary files
*.tmp
*.temp
*.log
